#donutContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
