@use "./colors" as colors;

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#bubble {
  background: colors.$white;
  border-radius: 100em;
  padding: 0.25em 0.8em;
  color: black;
  font-weight: 500;
  font-size: 0.95em;
  text-align: center;
}

#heading {
  font-size: 3em;
  font-weight: 675;
  text-align: center;
  background: radial-gradient(circle at center, colors.$white, colors.$grey40);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#text {
  font-size: 1.25em;
  text-align: center;
  color: colors.$grey40;
  width: 75%;
}

#graphContainer {
  margin-top: 5em;
  width: 75%;
  box-shadow: inset 0 0 4em 4em colors.$background;
  background-image: url("./images/graph.svg");
  background-position: center;
  background-size: cover;
}

#graph {
  width: 100%;
  opacity: 0;
}

@media screen and (max-width: 992px) {
  #graphContainer {
    width: 80%;
    box-shadow: inset 0 0 3.5em 3.5em colors.$background;
  }
}
@media screen and (max-width: 820px) {
  #bubble {
    font-size: 0.95em;
  }
  #heading {
    font-size: 2.5em;
  }
  #text {
    font-size: 1.2em;
  }
  #graphContainer {
    width: 85%;
    box-shadow: inset 0 0 3em 3em colors.$background;
  }
}

@media screen and (max-width: 660px) {
  #bubble {
    font-size: 0.9em;
  }
  #heading {
    font-size: 2.25em;
  }
  #text {
    font-size: 1.15em;
    width: 90%;
  }
  #graphContainer {
    width: 90%;
    box-shadow: inset 0 0 2.5em 2.5em colors.$background;
  }
}

@media screen and (max-width: 576px) {
  #bubble {
    font-size: 0.85em;
  }
  #heading {
    font-size: 2em;
  }
  #text {
    font-size: 1.1em;
    width: 90%;
  }
  #graphContainer {
    width: 95%;
    box-shadow: inset 0 0 2em 2em colors.$background;
  }
}

@media screen and (max-width: 480px) {
  #bubble {
    font-size: 0.8em;
  }
  #heading {
    font-size: 1.75em;
  }
  #text {
    font-size: 1.05em;
    width: 95%;
  }
  #graphContainer {
    width: 100%;
    box-shadow: inset 0 0 1.5em 1.5em colors.$background;
  }
}
