

.profile-picture-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Keeps it circular */
    background-color: #f8f8f8; /* Lighter background for the profile picture */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4A90E2; /* Vibrant blue text color */
    margin-right: 20px;
    border: 3px solid #E91E63; /* Vibrant pink border */
    background-size: cover;
    background-position: center;
}

.input-file-container {
    display: flex;
    align-items: center;
}

.input-file-button {
    padding: 10px 15px;
    background-color: #9C27B0; /* Vibrant purple */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.input-file-button:hover {
    background-color: #E91E63; /* Lighter pink on hover */
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between elements */
}

.flex-col {
    flex: 1;
    min-width: 250px; /* Minimum width for each input group */
}

.form-container {
    background-color: rgba(255, 255, 255, 0.95); /* Lighter, almost white background with slight transparency */
    padding: 20px;
    border-radius: 8px;
    color: #333; /* Darker text color for readability */
    margin: 20px auto;
    width: 90%; /* Adjust based on preference */
    max-width: 1200px; /* Maximum width of the form container */
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #673AB7; /* Deep purple for labels */
}

.form-input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #BDBDBD; /* Lighter gray border for inputs */
    box-sizing: border-box;
}

.form-button {
    background-color: #00BCD4; /* Cyan for the primary button */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.form-button:hover {
    background-color: #4A90E2; /* Lighter blue on hover */
}
