$darkI: #17252b;
$darkII: #1b2c34;
$darkIII: #20313b;
$darkIV: #1d3341;

$orangeBg: #523f28;
$greenBg: #1e4334;
$blueBg: #1a3e4d;
$purpleBg: #2c3259;

$orangeFg: #e29d36;
$greenFg: #2eaf77;
$blueFg: #239ed2;
$purpleFg: #7579f0;

$background: #08141a;
$grey: #88949b;
$light: #f3f5f5;
$accent: #5c9dff;
