$darkI: #f5f5f5;
$darkII: #ffffff;
$darkIII: #fafafa;
$darkIV: #ffffff;

$redBg: rgba(#f40f0f, 0.25);
$orangeBg: rgba(#f4a939, 0.25);
$greenBg: rgba(#10e558, 0.25);
$blueBg: rgba(#36cbfa, 0.25);
$purpleBg: rgba(#777cff, 0.25);

$redFg: #f40f0f;
$orangeFg: #f4a939;
$greenFg: #10e558;
$blueFg: #36cbfa;
$purpleFg: #777cff;

$background: #08141a;
$grey: #88949b;
$light: #f3f5f5;
$accent: #5c9dff;
