@use "./colors" as colors;
@use "./fonts" as fonts;

#container {
  font-family: fonts.$poppins;
  font-size: fonts.$fluidFontSize-0;
  width: min(90%, 90em);
  margin-inline: auto;
  padding: 4em 0;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#heading {
  font-size: 2em;
  font-weight: 550;
}

#switch {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  color: colors.$accent;
  background: rgba(colors.$accent, 0.2);
  border-radius: 100em;
  padding: 0.75em 1.75em;
  border: none;
  font-size: 0.95em;
  font-weight: 475;
  transition: 0.3s ease;
  &:hover {
    filter: hue-rotate(-10deg);
  }
}

.section {
  background: colors.$darkI;
  border-radius: 1.5em;

  &:first-of-type {
    margin-top: 1em;
  }
}

.section:not(:first-of-type) {
  margin-top: 0.5em;
}

#controls {
  display: grid;
  grid-template-columns: 18fr 9fr 9fr 7fr;
  column-gap: 0.5em;
  row-gap: 0.3em;
  padding: 1em 1.5em;
}

#searchContainer {
  grid-area: 2 / 1;
}

#columnContainer {
  grid-area: 2 / 2;
}

#orderContainer {
  grid-area: 2 / 3;
}

#export {
  grid-area: 2 / 4;
}

.label {
  font-weight: 500;
  font-size: 1.05em;
}

#searchContainer {
  position: relative;
}

#searchContainer:hover,
#searchContainer:focus-within {
  filter: brightness(0.95);
  transition: 0.1s ease;
}

#searchIcon {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  color: colors.$grey;
  font-size: 0.95em;
}

#searchContainer .input {
  border-radius: 0.5em;
  border: none;
  padding: 0.55em 1em 0.55em 2.5em;
  background: colors.$darkIV;
  color: colors.$grey;
  width: 100%;
  font-size: 0.95em;
  height: 100%;
}

#searchContainer .input::placeholder {
  color: colors.$grey;
  font-size: 0.95em;
}

.dropdownContainer {
  display: flex;
  position: relative;
}

.dropdownContainer:hover,
.dropdownContainer:focus-within {
  filter: brightness(0.95);
  transition: 0.1s ease;
}

.dropdownContainer .select {
  width: 100%;
  font-size: 0.95em;
  border-radius: 0.5em;
  background: colors.$darkIV;
  cursor: pointer;
  padding: 0.55em 0.75em;
  color: colors.$grey;
  appearance: none; /* Removes default browser styles */
}

#export {
  color: colors.$light;
  background: colors.$accent;
  border-radius: 0.5em;
  padding: 0.55em 0.75em;
  border: none;
  cursor: pointer;
  font-size: 0.95em;
}

#export:hover,
#export:focus {
  filter: hue-rotate(-7.5deg);
  transition: 0.1s ease;
}

#outerTableContainer {
  padding: 0.5em;
  overflow: auto;
  max-height: 60vh;
}

#innerTableContainer {
  border-radius: 0.75em;
  overflow: auto;
}

#table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  font-weight: 300;
}

#noResults {
  margin: 3em auto;
}

#empty {
  width: 30%;
  margin: 0 auto;
}

#noResults p {
  text-align: center;
  font-size: 1.1em;
  font-weight: 450;
}

#table th,
td {
  padding: 0.75em 1em;
}

#table th:first-of-type,
#table td:first-of-type {
  border-top-left-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
}

#table th:last-of-type,
#table td:last-of-type {
  border-top-right-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}

#table thead tr {
  background: colors.$darkIV;
}

#table thead th {
  font-weight: 500;
}

#table tbody tr:hover {
  filter: brightness(0.95);
  transition: 0.1s ease;
}

#table tbody tr:hover img {
  filter: brightness(1.11);
  transition: 0.1s ease;
}

#table tbody tr:nth-child(odd) {
  background: colors.$darkI;
}

#table tbody tr:nth-child(even) {
  background: colors.$darkII;
}

/* Applied (through JS) if a query from the search bar matches any text */
#table tbody .highlighted {
  background: colors.$accent;
  color: colors.$light;
  font-weight: 500;
}

// /* Applied (through JS) when a log deletion is pending */
// .fade-out {
//   animation: fade-out 1s forwards;
// }

// @keyframes fade-out {
//   100% {
//     opacity: 0;
//   }
// }

.row {
  cursor: pointer;
}

.userContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.imageContainer {
  width: 3rem;
  height: 3rem;
}

.profilePicture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.first {
  font-weight: 400;
  white-space: nowrap;
}

.last {
  color: colors.$grey;
  font-size: 0.9em;
  font-weight: 400;
  white-space: nowrap;
}

.status {
  border-radius: 100em;
  padding: 0.45em 1.35em;
  font-weight: 500;
  white-space: nowrap;
}

.pending {
  background: colors.$orangeBg;
  color: colors.$orangeFg;
}

.standby {
  background: colors.$purpleBg;
  color: colors.$purpleFg;
}

.shipping {
  background: colors.$blueBg;
  color: colors.$blueFg;
}

.delivered {
  background: colors.$greenBg;
  color: colors.$greenFg;
}

.lost {
  background: colors.$redBg;
  color: colors.$redFg;
}

.pre {
  text-align: center;
  display: inline-block;
  background: colors.$darkIII;
  padding: 0.35em 1.5em;
  border-radius: 0.5em;
  font-size: 0.9em;
  margin: 0;
}

#pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  position: relative;
}

#pagination p {
  color: colors.$grey;
  font-size: 0.85em;
}

#recordSize {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#recordsDropdownContainer {
  position: relative;
}

#recordsDropdownContainer:hover,
#recordsDropdownContainer:focus-within {
  filter: brightness(0.95);
  transition: 0.1s ease;
}

#caretDownIcon {
  color: colors.$grey;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.65em;
  margin-top: -0.05em;
  font-size: 0.85em;
  pointer-events: none;
  user-select: none;
}

#logsLimit {
  font-size: 0.85em;
  border-radius: 0.5em;
  background: colors.$darkIV;
  cursor: pointer;
  padding: 0.25em 1.5em 0.25em 0.75em;
  color: colors.$grey;
  border: 1.5px solid colors.$grey;
  appearance: none; /* emoves default browser styles */
}

.chevronDownIcon {
  color: colors.$grey;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.75em;
  margin-top: -0.05em;
  font-size: 0.85em;
  pointer-events: none;
  user-select: none;
}

/* 320, 480, 768, 992, 1200, 1600, 1920, 2560 */

@media screen and (max-width: 1200px) {
  #container {
    font-size: fonts.$fluidFontSize--1;
    width: 92.5%;
    padding: 3em 0;
  }
}

@media screen and (max-width: 992px) {
  #container {
    font-size: fonts.$fluidFontSize--2;
  }
}

@media screen and (max-width: 768px) {
  #container {
    font-size: fonts.$fluidFontSize--3;
    width: 95%;
    padding: 2em 0;
  }

  #controls {
    grid-template-columns: 1fr 1fr;
  }

  #searchText {
    grid-area: 1 / 1 / 2 / 3;
  }

  #searchContainer {
    grid-area: 2 / 1 / 3 / 3;
  }

  #sortText {
    margin-top: 0.5em;
    grid-area: 3 / 1 / 4 / 2;
  }

  #orderText {
    margin-top: 0.5em;
    grid-area: 3 / 2 / 4 / 3;
  }

  #columnContainer {
    grid-area: 4 / 1 / 5 / 2;
  }

  #orderContainer {
    grid-area: 4 / 2 / 5 / 3;
  }

  #export {
    grid-area: 5 / 1 / 6 / 3;
    margin-top: 0.75em;
  }

  .dropdownContainer select,
  #recordSize select {
    border-width: 2px;
  }
}

@media screen and (max-width: 480px) {
  #container {
    font-size: fonts.$fluidFontSize--4;
    padding: 1em 0;
  }
}

@media screen and (max-width: 320px) {
  #container {
    font-size: fonts.$fluidFontSize--5;
  }
}
