.inventoryContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.inventoryContainer h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inventoryItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inventoryItem h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.inventoryItem p {
  font-size: 16px;
}

.inventoryItem strong {
  font-weight: bold;
  color: #333;
}
