@use "./colors" as colors;
@use "./fonts" as fonts;

#container {
  background: colors.$darker;
  color: colors.$white;
  font-family: fonts.$montserrat;
  font-size: fonts.$fluidFontSize;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

#top {
  flex-grow: 1;
  position: relative;
}

#centered {
  width: min(40em, 85%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#heading {
  font-size: 2.25em;
  font-weight: 500;
}

#description {
  margin-top: 0.75em;
}

.form {
  margin-top: 1.5em;
}

.input {
  margin-top: 1em;
}

#prompt {
  margin-top: 2em;
  font-size: 0.9em;
}

.link {
  color: colors.$white;
  font-weight: 600;
  text-decoration: none;
}

.submit {
  margin-top: 2em;
}

#bottom {
  padding: 1.25em 0;
  background: colors.$dark;
}

#footerText {
  text-align: center;
}

#footerActionLink {
  color: colors.$hyperlink;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s ease;
  &:hover {
    filter: brightness(1.25);
  }
}

@media screen and (max-width: 1600px) {
  #container {
    flex-grow: 1;
  }
  #centered {
    width: min(44em, 90%);
  }
}
