.shoppingCart {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shoppingCart h2 {
  font-weight: bold;
  font-size: xx-large;
}

.shoppingCart h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.cartItems {
  margin-top: 20px;
}

.cartItem {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.itemImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.itemDetails {
  flex: 1;
}

.itemDetails h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.itemDetails p {
  margin: 5px;
}

.itemDetails button {
  color: white;
  background-color: #ff0000;
  border-color: black;
  border-width: 2px;
  padding: 0 7px 0 7px;
  margin-left: 5px;
  border-radius: 20px;
  font-weight: bold;
}

.itemDetails input {
  color: black;
  padding-left: 5px;
  font-weight: bolder;
  margin-left: 5px;
  background-color: #ffcc80;
  max-width: 45px;
  /* width: 60px; */
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
}

.itemDetails input:focus {
  outline: none;
  border-color: #ff5722;
}

.itemDetails text {
  float: right;
  font-weight: bold;
}

.totalPrice {
  margin-top: 20px;
  text-align: right;
}

.checkoutButton {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff9408;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.checkoutButton:hover {
  background-color: #e6810a;
}

.loading {
  text-align: center;
  margin-top: 50px;
}

.error {
  text-align: center;
  color: #ff0000;
}
